In [1]:
# === SETUP CELL: Import Libraries & Load Data === #

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Use relative file paths (as required by capstone instructions)
dev_path = "./data/world_dev_indicators.csv"
happiness_path = "./data/World_Happiness_Report.csv"

# Load datasets
dev_df = pd.read_csv(dev_path)
happiness_df = pd.read_csv(happiness_path)

#  Display first few rows for verification (optional)
print("World Development Indicators Sample:")
display(dev_df.head())

print("\nWorld Happiness Report Sample:")
display(happiness_df.head())

World Development Indicators Sample:

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Afghanistan,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.340,31.921,32.535,8622466.0,7898093.0,NaN,NaN,NaN
1,Afghanistan,1961-01-01,57.878356,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.443,31.349,33.068,8790140.0,8026804.0,NaN,NaN,NaN
2,Afghanistan,1962-01-01,57.955016,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.570,30.845,33.547,8969047.0,8163985.0,NaN,NaN,NaN
3,Afghanistan,1963-01-01,58.031676,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.703,30.359,34.016,9157465.0,8308019.0,NaN,NaN,NaN
4,Afghanistan,1964-01-01,58.116002,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.831,29.867,34.494,9355514.0,8458694.0,NaN,NaN,NaN

World Happiness Report Sample:

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440

In [2]:
# Convert 'date' column from string to datetime format
dev_df['date'] = pd.to_datetime(dev_df['date'], errors='coerce')

# Extract the year from the datetime 'date' column and store it as an integer in a new 'Year' column
# Using 'Int32' dtype allows missing values (<NA>) in case some dates were invalid or missing
dev_df['Year'] = dev_df['date'].dt.year.astype('Int32')

# Optionally, drop the original 'date' column as it is no longer needed
dev_df.drop(columns=['date'], inplace=True)

In [3]:
# Show unique years including missing values (NaN/NA)
unique_years_with_na = dev_df['Year'].unique()
print(unique_years_with_na)

<IntegerArray>
[1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Length: 64, dtype: Int32

In [4]:
# Loop through each column in the DataFrame
for col in dev_df.columns:
    # Count the number of non-missing (not null) values in the current column
    non_missing = dev_df[col].notna().sum()
    
    # Total number of rows in the column (including missing values)
    total = len(dev_df[col])
    
    # Calculate the percentage of non-missing data in this column
    percent_present = (non_missing / total) * 100
    
    # Print the column name and the percentage of data present, formatted to 2 decimal places
    print(f"{col}: {percent_present:.2f}% data present")

country: 100.00% data present
agricultural_land%: 85.19% data present
forest_land%: 47.34% data present
land_area: 86.44% data present
avg_precipitation: 58.40% data present
trade_in_services%: 53.24% data present
control_of_corruption_estimate: 27.69% data present
control_of_corruption_std: 27.69% data present
access_to_electricity%: 42.54% data present
renewvable_energy_consumption%: 46.76% data present
electric_power_consumption: 45.10% data present
CO2_emisions: 42.89% data present
other_greenhouse_emisions: 42.89% data present
population_density: 86.27% data present
inflation_annual%: 62.46% data present
real_interest_rate: 25.57% data present
risk_premium_on_lending: 13.72% data present
research_and_development_expenditure%: 16.73% data present
central_goverment_debt%: 12.04% data present
tax_revenue%: 29.67% data present
expense%: 27.61% data present
goverment_effectiveness_estimate: 27.55% data present
goverment_effectiveness_std: 27.55% data present
human_capital_index: 3.48% data present
doing_business: 1.09% data present
time_to_get_operation_license: 2.15% data present
statistical_performance_indicators: 7.16% data present
individuals_using_internet%: 46.57% data present
logistic_performance_index: 8.15% data present
military_expenditure%: 58.60% data present
GDP_current_US: 76.41% data present
political_stability_estimate: 27.91% data present
political_stability_std: 27.91% data present
rule_of_law_estimate: 28.21% data present
rule_of_law_std: 28.21% data present
regulatory_quality_estimate: 27.56% data present
regulatory_quality_std: 27.56% data present
government_expenditure_on_education%: 35.36% data present
government_health_expenditure%: 28.59% data present
multidimensional_poverty_headcount_ratio%: 2.63% data present
gini_index: 12.20% data present
birth_rate: 92.85% data present
death_rate: 92.75% data present
life_expectancy_at_birth: 91.86% data present
population: 96.49% data present
rural_population: 95.76% data present
voice_and_accountability_estimate: 28.08% data present
voice_and_accountability_std: 28.08% data present
intentional_homicides: 24.37% data present
Year: 100.00% data present

In [36]:
# Loop through each column in happiness_df and calculate percentage of non-missing data
for col in happiness_df.columns:
    non_missing = happiness_df[col].notna().sum()
    total = len(happiness_df[col])
    percent_present = (non_missing / total) * 100
    print(f"{col}: {percent_present:.2f}% data present")

Country Name: 100.00% data present
Regional Indicator: 94.91% data present
Year: 100.00% data present
Life Ladder: 100.00% data present
Log GDP Per Capita: 99.09% data present
Social Support: 99.41% data present
Healthy Life Expectancy At Birth: 97.54% data present
Freedom To Make Life Choices: 98.50% data present
Generosity: 96.68% data present
Perceptions Of Corruption: 94.72% data present
Positive Affect: 98.91% data present
Negative Affect: 99.27% data present
Confidence In National Government: 83.58% data present

In [7]:
print("Missing 'Year' values after conversion:", dev_df['Year'].isna().sum())

Missing 'Year' values after conversion: 17272

In [5]:
dev_df = pd.read_csv(dev_path, engine='python')

In [3]:
for col in dev_df.columns:
    print(col)

country
Year
agricultural_land%
forest_land%
land_area
avg_precipitation
trade_in_services%
control_of_corruption_estimate
control_of_corruption_std
access_to_electricity%
renewvable_energy_consumption%
electric_power_consumption
CO2_emisions
other_greenhouse_emisions
population_density
inflation_annual%
real_interest_rate
risk_premium_on_lending
research_and_development_expenditure%
central_goverment_debt%
tax_revenue%
expense%
goverment_effectiveness_estimate
goverment_effectiveness_std
human_capital_index
doing_business
time_to_get_operation_license
statistical_performance_indicators
individuals_using_internet%
logistic_performance_index
military_expenditure%
GDP_current_US
political_stability_estimate
political_stability_std
rule_of_law_estimate
rule_of_law_std
regulatory_quality_estimate
regulatory_quality_std
government_expenditure_on_education%
government_health_expenditure%
multidimensional_poverty_headcount_ratio%
gini_index
birth_rate
death_rate
life_expectancy_at_birth
population
rural_population
voice_and_accountability_estimate
voice_and_accountability_std
intentional_homicides

In [7]:
import os
os.getcwd()

'c:\\Users\\abdul\\OneDrive\\HAPPY\\HAPPY'

In [35]:
# === RENAME ONLY THE NECESSARY COLUMNS (remove '_percent' suffix for clarity) ===
dev_df.rename(columns={
    'military_expenditure%': 'military_expenditure',
    'access_to_electricity%': 'access_to_electricity',
    'inflation_annual%': 'inflation',
    'research_and_development_expenditure%': 'research_and_development_expenditure',
    'government_expenditure_on_education%': 'government_expenditure_on_education',
    'government_health_expenditure%': 'government_health_expenditure',
}, inplace=True)





# === FILTER DEV_DF TO MATCH HAPPINESS_DF YEARS (2005–2022) ===
dev_df = dev_df[(dev_df['Year'] >= 2005) & (dev_df['Year'] <= 2022)]

# === DEFINE THE COLUMNS TO KEEP ===
columns_to_keep = [
    'country', 'Year', 'military_expenditure',
    'access_to_electricity', 'population_density',
    'government_expenditure_on_education',
    'government_health_expenditure',
    'rural_population',
]

# === CREATE THE TRIMMED DATAFRAME ===
dev_df_trimmed = dev_df[columns_to_keep].copy()

# Optional: Check your trimmed dataframe
print(dev_df_trimmed.head())

        country  Year  military_expenditure  access_to_electricity  \
45  Afghanistan  2005              1.992066              28.669672
46  Afghanistan  2006              1.896234              33.544418
47  Afghanistan  2007              2.566267              38.440002
48  Afghanistan  2008              2.335546              42.400000
49  Afghanistan  2009              2.087413              48.279007

    population_density  government_expenditure_on_education  \
45           37.427274                                  NaN
46           39.009159                             4.684761
47           39.714979                             4.174895
48           40.518221                             4.383672
49           41.987193                             4.810640

    government_health_expenditure  rural_population
45                       0.529184        18869118.0
46                       0.497840        19614729.0
47                       0.559948        19916271.0
48                       0.627800        20264376.0
49                       0.531904        20942092.0

In [17]:
# Check for missing values in 'rural_population' grouped by 'Year' and 'Country'
missing_rural_population = dev_df[dev_df['rural_population'].isna()]

# Group by Year and Country to count missing values
missing_by_year_country = missing_rural_population.groupby(['Year', 'country']).size()

print(missing_by_year_country)

Series([], dtype: int64)

In [23]:
# Check the unique values in the 'Year' column
print(dev_df['Year'].unique())

[]

In [31]:
# Check for NaN values explicitly
print(dev_df_trimmed.isna().sum())

country                                0
Year                                   0
military_expenditure                   0
access_to_electricity                  0
population_density                     0
government_expenditure_on_education    0
government_health_expenditure          0
rural_population                       0
dtype: int64

In [23]:
print(dev_df_trimmed.dtypes)

country                                 object
Year                                     int64
military_expenditure                   float64
access_to_electricity                  float64
population_density                     float64
government_expenditure_on_education    float64
government_health_expenditure          float64
rural_population                       float64
dtype: object

In [24]:
missing = dev_df_trimmed.isna().sum()
dtypes = dev_df_trimmed.dtypes

summary = pd.DataFrame({'missing_values': missing, 'data_type': dtypes})
print(summary)

                                     missing_values data_type
country                                           0    object
Year                                              0     int64
military_expenditure                              0   float64
access_to_electricity                             0   float64
population_density                                0   float64
government_expenditure_on_education               0   float64
government_health_expenditure                     0   float64
rural_population                                  0   float64

In [6]:
# Check for any rows with NaN values across the entire dataset
missing_rows = dev_df[dev_df.isna().any(axis=1)]

print(f"Number of rows with NaN values: {missing_rows.shape[0]}")
print(missing_rows)

Number of rows with NaN values: 0
Empty DataFrame
Columns: [country, Year, agricultural_land%, forest_land%, land_area, avg_precipitation, trade_in_services%, control_of_corruption_estimate, control_of_corruption_std, access_to_electricity, renewvable_energy_consumption%, electric_power_consumption, CO2_emisions, other_greenhouse_emisions, population_density, inflation, real_interest_rate, risk_premium_on_lending, research_and_development_expenditure, central_goverment_debt%, tax_revenue%, expense%, goverment_effectiveness_estimate, goverment_effectiveness_std, human_capital_index, doing_business, time_to_get_operation_license, statistical_performance_indicators, individuals_using_internet%, logistic_performance_index, military_expenditure, GDP_current_US, political_stability_estimate, political_stability_std, rule_of_law_estimate, rule_of_law_std, regulatory_quality_estimate, regulatory_quality_std, government_expenditure_on_education, government_health_expenditure, multidimensional_poverty_headcount_ratio%, gini_index, birth_rate, death_rate, life_expectancy_at_birth, population, rural_population, voice_and_accountability_estimate, voice_and_accountability_std, intentional_homicides]
Index: []

[0 rows x 50 columns]

In [26]:
# REDUNDANT
# Now that dev_df['Year'] is a column of integers, filtering will work:
dev_df = dev_df[(dev_df['Year'] >= 2005) & (dev_df['Year'] <= 2022)]

In [27]:
# REDUNDANT
dev_df['Year'] = dev_df['Year'].astype(int)

In [28]:
# REDUNDANT
print(dev_df.columns.to_list())

['country', 'Year', 'agricultural_land%', 'forest_land%', 'land_area', 'avg_precipitation', 'trade_in_services%', 'control_of_corruption_estimate', 'control_of_corruption_std', 'access_to_electricity', 'renewvable_energy_consumption%', 'electric_power_consumption', 'CO2_emisions', 'other_greenhouse_emisions', 'population_density', 'inflation', 'real_interest_rate', 'risk_premium_on_lending', 'research_and_development_expenditure', 'central_goverment_debt%', 'tax_revenue%', 'expense%', 'goverment_effectiveness_estimate', 'goverment_effectiveness_std', 'human_capital_index', 'doing_business', 'time_to_get_operation_license', 'statistical_performance_indicators', 'individuals_using_internet%', 'logistic_performance_index', 'military_expenditure', 'GDP_current_US', 'political_stability_estimate', 'political_stability_std', 'rule_of_law_estimate', 'rule_of_law_std', 'regulatory_quality_estimate', 'regulatory_quality_std', 'government_expenditure_on_education', 'government_health_expenditure', 'multidimensional_poverty_headcount_ratio%', 'gini_index', 'birth_rate', 'death_rate', 'life_expectancy_at_birth', 'population', 'rural_population', 'voice_and_accountability_estimate', 'voice_and_accountability_std', 'intentional_homicides']

In [45]:
for col in dev_df_trimmed.columns:
    print(col)

country
Year
military_expenditure_percent
intentional_homicides
access_to_electricity_percent
population_density
inflation_percent
research_and_development_expenditure_percent
government_expenditure_on_education_percent
government_health_expenditure_percent
gini_index

In [35]:
print(happiness_df.columns)

Index(['Country Name', 'Regional Indicator', 'Year', 'Life Ladder',
       'Log GDP Per Capita', 'Social Support',
       'Healthy Life Expectancy At Birth', 'Freedom To Make Life Choices',
       'Generosity', 'Perceptions Of Corruption', 'Positive Affect',
       'Negative Affect', 'Confidence In National Government'],
      dtype='object')

In [10]:
for col in happiness_df.columns:
    print(col)

Country Name
Regional Indicator
Year
Life Ladder
Log GDP Per Capita
Social Support
Healthy Life Expectancy At Birth
Freedom To Make Life Choices
Generosity
Perceptions Of Corruption
Positive Affect
Negative Affect
Confidence In National Government

In [10]:
happiness_df = happiness_df.rename(columns={'Country Name': 'country'})

In [12]:
for col in happiness_df.columns:
    print(col)

country
Regional Indicator
Year
Life Ladder
Log GDP Per Capita
Social Support
Healthy Life Expectancy At Birth
Freedom To Make Life Choices
Generosity
Perceptions Of Corruption
Positive Affect
Negative Affect
Confidence In National Government

In [11]:
# === RENAME ONLY THE NECESSARY COLUMNS === #
happiness_df.rename(columns={
    'Life Ladder': 'Happiness_Score',
    'Log GDP Per Capita': 'Log_GDP_per_Capita',
    'Social Support': 'Social_Support'
}, inplace=True)

# === SELECT RELEVANT COLUMNS INCLUDING 'Generosity' === #
happiness_df_trimmed = happiness_df[['country', 'Year', 'Happiness_Score', 'Log_GDP_per_Capita', 'Social_Support', 'Generosity']]

# === DISPLAY SAMPLE OF TRIMMED DATA === #
print("Trimmed Happiness Data Sample:")
display(happiness_df_trimmed.head())

Trimmed Happiness Data Sample:

,country,Year,Happiness_Score,Log_GDP_per_Capita,Social_Support,Generosity
0,Afghanistan,2008,3.723590,7.350416,0.450662,0.167652
1,Afghanistan,2009,4.401778,7.508646,0.552308,0.190809
2,Afghanistan,2010,4.758381,7.613900,0.539075,0.121316
3,Afghanistan,2011,3.831719,7.581259,0.521104,0.163571
4,Afghanistan,2012,3.782938,7.660506,0.520637,0.237588

In [12]:
missing_info = dev_df_trimmed.isnull().sum().to_frame(name='Missing Values')
missing_info['% Missing'] = 100 * missing_info['Missing Values'] / len(dev_df_trimmed)
missing_info = missing_info[missing_info['Missing Values'] > 0]
missing_info.sort_values('% Missing', ascending=False)

Empty DataFrame
Columns: [Missing Values, % Missing]
Index: []

In [13]:
print("Number of columns in Development Indicators dataset:", len(dev_df.columns))

Number of columns in Development Indicators dataset: 50

In [14]:

print("\nWorld Happiness Report Columns:")
for col in happiness_df.columns:
    print(col)

World Happiness Report Columns:
country
Regional Indicator
Year
Happiness_Score
Log_GDP_per_Capita
Social_Support
Healthy Life Expectancy At Birth
Freedom To Make Life Choices
Generosity
Perceptions Of Corruption
Positive Affect
Negative Affect
Confidence In National Government

In [15]:
print("Unique countries in World Bank data:", dev_df_trimmed['country'].nunique())
print("Unique countries in Happiness data:", happiness_df['country'].nunique())

Unique countries in World Bank data: 0
Unique countries in Happiness data: 165

In [21]:
# After filtering by year, check unique countries again
print("Unique countries in World Bank data (2005-2022):", dev_df_trimmed['country'].nunique())

Unique countries in World Bank data (2005-2022): 274

In [50]:
# Count missing values and get data types
missing_happy = happiness_df_trimmed.isna().sum()
dtypes_happy = happiness_df_trimmed.dtypes

# Create summary dataframe
summary_happy = pd.DataFrame({
    'missing_values': missing_happy,
    'data_type': dtypes_happy
})

# Display the result
print("=== Missing Data Summary for happiness_df_trimmed ===")
print(summary_happy)

=== Missing Data Summary for happiness_df_trimmed ===
                    missing_values data_type
country                          0    object
Year                             0     int64
Happiness_Score                  0   float64
Log_GDP_per_Capita              20   float64
Social_Support                  13   float64
Generosity                      73   float64

In [52]:
happiness_df_trimmed.loc[:, 'Year'] = happiness_df_trimmed['Year'].astype('int32')

In [54]:
print(happiness_df_trimmed.dtypes)

country                object
Year                    int32
Happiness_Score       float64
Log_GDP_per_Capita    float64
Social_Support        float64
Generosity            float64
dtype: object

In [22]:
# Check missing data overall
missing_counts = dev_df_trimmed.isnull().sum()
missing_percent = (missing_counts / len(dev_df_trimmed)) * 100
missing_summary = pd.DataFrame({'Missing Count': missing_counts, 'Missing %': missing_percent})
print("Missing data summary by column:")
print(missing_summary)

# Optional: Check missing data by country (total missing values per country)
missing_by_country = dev_df_trimmed.isnull().groupby(dev_df_trimmed['country']).sum()
print("\nMissing data count by country (per column):")
print(missing_by_country)

# Optional: Show countries with the most missing data
missing_by_country['total_missing'] = missing_by_country.sum(axis=1)
print("\nTop 10 countries with most missing data:")
print(missing_by_country.sort_values('total_missing', ascending=False).head(10))

Missing data summary by column:
                                      Missing Count  Missing %
country                                           0   0.000000
Year                                              0   0.000000
military_expenditure                           1409  28.661513
intentional_homicides                          2340  47.599675
access_to_electricity                           453   9.214809
population_density                              455   9.255492
inflation                                       785  15.968267
research_and_development_expenditure           2916  59.316517
government_expenditure_on_education            1562  31.773800
government_health_expenditure                  1145  23.291294
gini_index                                     3573  72.681041

Missing data count by country (per column):
                             country  Year  military_expenditure  \
country
Afghanistan                        0     0                     1
Africa Eastern and Southern        0     0                     0
Africa Western and Central         0     0                     0
Albania                            0     0                     0
Algeria                            0     0                     0
...                              ...   ...                   ...
West Bank and Gaza                 0     0                    18
World                              0     0                     0
Yemen, Rep.                        0     0                     8
Zambia                             0     0                     0
Zimbabwe                           0     0                     3

                             intentional_homicides  access_to_electricity  \
country
Afghanistan                                      7                      1
Africa Eastern and Southern                     15                      1
Africa Western and Central                      15                      1
Albania                                          1                      1
Algeria                                          2                      1
...                                            ...                    ...
West Bank and Gaza                               3                      1
World                                            2                      1
Yemen, Rep.                                     13                      1
Zambia                                          10                      1
Zimbabwe                                        10                      1

                             population_density  inflation  \
country
Afghanistan                                   1          3
Africa Eastern and Southern                   1          0
Africa Western and Central                    1          0
Albania                                       1          0
Algeria                                       1          0
...                                         ...        ...
West Bank and Gaza                            1          0
World                                         1          0
Yemen, Rep.                                   1          8
Zambia                                        1          0
Zimbabwe                                      1          5

                             research_and_development_expenditure  \
country
Afghanistan                                                    18
Africa Eastern and Southern                                    15
Africa Western and Central                                     17
Albania                                                        16
Algeria                                                        16
...                                                           ...
West Bank and Gaza                                             13
World                                                           1
Yemen, Rep.                                                    18
Zambia                                                         16
Zimbabwe                                                       18

                             government_expenditure_on_education  \
country
Afghanistan                                                    6
Africa Eastern and Southern                                    2
Africa Western and Central                                     0
Albania                                                        2
Algeria                                                        7
...                                                          ...
West Bank and Gaza                                            10
World                                                          1
Yemen, Rep.                                                   10
Zambia                                                         3
Zimbabwe                                                      11

                             government_health_expenditure  gini_index
country
Afghanistan                                              1          18
Africa Eastern and Southern                              2          18
Africa Western and Central                               2          18
Albania                                                  2           8
Algeria                                                  2          17
...                                                    ...         ...
West Bank and Gaza                                      18          11
World                                                    2          18
Yemen, Rep.                                              7          16
Zambia                                                   2          14
Zimbabwe                                                 7          15

[274 rows x 11 columns]

Top 10 countries with most missing data:
                                         country  Year  military_expenditure  \
country
Not classified                                 0     0                    18
East Asia & Pacific (IDA & IBRD)               0     0                    16
Czech Republic                                 0     0                    16
Latin America & Caribbean (IDA & IBRD)         0     0                    16
Turkey                                         0     0                    16
Sub-Saharan Africa (IDA & IBRD)                0     0                    16
Vietnam                                        0     0                    16
Europe & Central Asia (IDA & IBRD)             0     0                    16
Middle East & North Africa (IDA & IBRD)        0     0                    16
Korea, Dem. People's Rep.                      0     0                    18

                                         intentional_homicides  \
country
Not classified                                              18
East Asia & Pacific (IDA & IBRD)                            16
Czech Republic                                              16
Latin America & Caribbean (IDA & IBRD)                      16
Turkey                                                      16
Sub-Saharan Africa (IDA & IBRD)                             16
Vietnam                                                     16
Europe & Central Asia (IDA & IBRD)                          16
Middle East & North Africa (IDA & IBRD)                     16
Korea, Dem. People's Rep.                                   18

                                         access_to_electricity  \
country
Not classified                                              18
East Asia & Pacific (IDA & IBRD)                            16
Czech Republic                                              16
Latin America & Caribbean (IDA & IBRD)                      16
Turkey                                                      16
Sub-Saharan Africa (IDA & IBRD)                             16
Vietnam                                                     16
Europe & Central Asia (IDA & IBRD)                          16
Middle East & North Africa (IDA & IBRD)                     16
Korea, Dem. People's Rep.                                    5

                                         population_density  inflation  \
country
Not classified                                           18         18
East Asia & Pacific (IDA & IBRD)                         16         16
Czech Republic                                           16         16
Latin America & Caribbean (IDA & IBRD)                   16         16
Turkey                                                   16         16
Sub-Saharan Africa (IDA & IBRD)                          16         16
Vietnam                                                  16         16
Europe & Central Asia (IDA & IBRD)                       16         16
Middle East & North Africa (IDA & IBRD)                  16         16
Korea, Dem. People's Rep.                                 1         18

                                         research_and_development_expenditure  \
country
Not classified                                                             18
East Asia & Pacific (IDA & IBRD)                                           16
Czech Republic                                                             16
Latin America & Caribbean (IDA & IBRD)                                     16
Turkey                                                                     16
Sub-Saharan Africa (IDA & IBRD)                                            16
Vietnam                                                                    16
Europe & Central Asia (IDA & IBRD)                                         16
Middle East & North Africa (IDA & IBRD)                                    16
Korea, Dem. People's Rep.                                                  18

                                         government_expenditure_on_education  \
country
Not classified                                                            18
East Asia & Pacific (IDA & IBRD)                                          16
Czech Republic                                                            16
Latin America & Caribbean (IDA & IBRD)                                    16
Turkey                                                                    16
Sub-Saharan Africa (IDA & IBRD)                                           16
Vietnam                                                                   16
Europe & Central Asia (IDA & IBRD)                                        16
Middle East & North Africa (IDA & IBRD)                                   16
Korea, Dem. People's Rep.                                                 18

                                         government_health_expenditure  \
country
Not classified                                                      18
East Asia & Pacific (IDA & IBRD)                                    16
Czech Republic                                                      16
Latin America & Caribbean (IDA & IBRD)                              16
Turkey                                                              16
Sub-Saharan Africa (IDA & IBRD)                                     16
Vietnam                                                             16
Europe & Central Asia (IDA & IBRD)                                  16
Middle East & North Africa (IDA & IBRD)                             16
Korea, Dem. People's Rep.                                           18

                                         gini_index  total_missing
country
Not classified                                   18            162
East Asia & Pacific (IDA & IBRD)                 16            144
Czech Republic                                   16            144
Latin America & Caribbean (IDA & IBRD)           16            144
Turkey                                           16            144
Sub-Saharan Africa (IDA & IBRD)                  16            144
Vietnam                                          16            144
Europe & Central Asia (IDA & IBRD)               16            144
Middle East & North Africa (IDA & IBRD)          16            144
Korea, Dem. People's Rep.                        18            132

In [38]:
# Shape before dropping columns and countries
print("Shape before cleaning:", dev_df_trimmed.shape)

Shape before cleaning: (4916, 11)

In [28]:
def clean_missing_data(df, country_col='country', threshold=0.45):
    """
    Drops columns and countries with missing data above the given threshold.

    Parameters:
        df (pd.DataFrame): Input DataFrame.
        country_col (str): Column name identifying countries (used for grouping).
        threshold (float): Maximum allowed missing data ratio.

    Returns:
        pd.DataFrame: Cleaned DataFrame with reduced missing values.
        list: Dropped column names.
        list: Countries that were retained.
    """
    # 1. Drop columns with > threshold missing values
    missing_col_ratio = df.isnull().mean()
    cols_to_drop = missing_col_ratio[missing_col_ratio > threshold].index.tolist()
    df_filtered = df.drop(columns=cols_to_drop)

    # 2. Drop countries (groups) with > threshold missing values
    missing_country_ratio = df_filtered.groupby(country_col).apply(
        lambda group: group.drop(columns=country_col).isnull().mean().mean()
    )
    countries_to_keep = missing_country_ratio[missing_country_ratio <= threshold].index.tolist()
    df_cleaned = df_filtered[df_filtered[country_col].isin(countries_to_keep)].copy()

    return df_cleaned, cols_to_drop, countries_to_keep

In [31]:
dev_df_cleaned, dropped_columns, retained_countries = clean_missing_data(dev_df_trimmed)

C:\Users\abdul\AppData\Local\Temp\ipykernel_9168\4190006717.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  missing_country_ratio = df_filtered.groupby(country_col).apply(

In [33]:
print("Dropped columns due to missing data:", dropped_columns)
print("Number of countries retained:", len(retained_countries))
print("Final cleaned dataset shape:", dev_df_cleaned.shape)

Dropped columns due to missing data: ['intentional_homicides', 'research_and_development_expenditure', 'gini_index']
Number of countries retained: 240
Final cleaned dataset shape: (4320, 8)

In [37]:
# === DISPLAY SAMPLE OF TRIMMED DEV DATA === #
print("Trimmed Development Data Sample:")
display(dev_df_cleaned.head())

Trimmed Development Data Sample:

,country,Year,military_expenditure,access_to_electricity,population_density,inflation,government_expenditure_on_education,government_health_expenditure
45,Afghanistan,2005,1.992066,28.669672,37.427274,12.686269,NaN,0.529184
46,Afghanistan,2006,1.896234,33.544418,39.009159,6.784597,4.684761,0.497840
47,Afghanistan,2007,2.566267,38.440002,39.714979,8.680571,4.174895,0.559948
48,Afghanistan,2008,2.335546,42.400000,40.518221,26.418664,4.383672,0.627800
49,Afghanistan,2009,2.087413,48.279007,41.987193,-6.811161,4.810640,0.531904

In [39]:
missing_after_cleaning = dev_df_cleaned.isnull().sum()
print("Remaining missing values per column after cleaning:")
print(missing_after_cleaning)

Remaining missing values per column after cleaning:
country                                   0
Year                                      0
military_expenditure                    828
access_to_electricity                   244
population_density                      249
inflation                               248
government_expenditure_on_education    1028
government_health_expenditure           581
dtype: int64

In [44]:
dev_df_cleaned = dev_df_cleaned.copy()

In [45]:
for col in dev_df_cleaned.columns:
    if dev_df_cleaned[col].dtype in ['float64', 'int64']:
        median_val = dev_df_cleaned[col].median()
        dev_df_cleaned[col] = dev_df_cleaned[col].fillna(median_val)

In [47]:
for col in dev_df_cleaned.columns:
    if dev_df_cleaned[col].dtype in ['float64', 'int64']:
        median_val = dev_df_cleaned[col].median()
        dev_df_cleaned[col] = dev_df_cleaned[col].fillna(median_val)

In [48]:
for col in dev_df_cleaned.columns:
    if dev_df_cleaned[col].dtype in ['float64', 'int64']:
        median_val = dev_df_cleaned[col].median()
        dev_df_cleaned.loc[:, col] = dev_df_cleaned[col].fillna(median_val)

In [ ]:
import pandas as pd

# 1. Explore missing data and data types
def explore_missing_data(df):
    missing = df.isna().sum()
    dtypes = df.dtypes
    summary = pd.DataFrame({'missing_values': missing, 'data_type': dtypes})
    print("=== Missing Data Summary ===")
    print(summary)
    print("\nColumns with missing data:")
    print(summary[summary['missing_values'] > 0])
    print("\nTotal rows:", df.shape[0])
    print("Total columns:", df.shape[1])
    print("-" * 40)

# 2. Clean data by dropping columns and countries with too much missing data
def clean_missing_data(df, country_col='country', threshold=0.45):
    # Drop columns with missing data > threshold
    missing_col_ratio = df.isnull().mean()
    cols_to_drop = missing_col_ratio[missing_col_ratio > threshold].index.tolist()
    df_filtered = df.drop(columns=cols_to_drop)

    # Drop countries with missing data > threshold (excluding country_col)
    missing_country_ratio = df_filtered.groupby(country_col).apply(
        lambda group: group.drop(columns=country_col).isnull().mean().mean()
    )
    countries_to_keep = missing_country_ratio[missing_country_ratio <= threshold].index.tolist()
    df_cleaned = df_filtered[df_filtered[country_col].isin(countries_to_keep)].copy()

    return df_cleaned, cols_to_drop, countries_to_keep

# === Example usage ===

# 1. Explore missing data before cleaning
explore_missing_data(dev_df_trimmed)

# 2. Clean the dataset with threshold 45%
dev_df_cleaned, dropped_cols, kept_countries = clean_missing_data(dev_df_trimmed, threshold=0.45)

print(f"Dropped columns due to missing data > 45%: {dropped_cols}")
print(f"Countries retained (missing data <= 45%): {len(kept_countries)}")
print(f"Shape of cleaned dataframe: {dev_df_cleaned.shape}")

# 3. Optionally, explore missing data again on cleaned data
explore_missing_data(dev_df_cleaned)

In [32]:
# Countries in happiness_df that are NOT in dev_df
unmatched_happiness = happiness_countries - dev_countries
print("Unmatched countries in happiness_df:")
for country in sorted(unmatched_happiness):
    print(f"- {country}")

# Countries in dev_df that are NOT in happiness_df
unmatched_dev = dev_countries - happiness_countries
print("\nUnmatched countries in dev_df:")
for country in sorted(unmatched_dev):
    print(f"- {country}")

Unmatched countries in happiness_df:
- Congo (Brazzaville)
- Congo (Kinshasa)
- Egypt
- Gambia
- Hong Kong S.A.R. of China
- Iran
- Ivory Coast
- Kyrgyzstan
- Laos
- Russia
- Slovakia
- Somaliland region
- South Korea
- State of Palestine
- Syria
- Taiwan Province of China
- Venezuela
- Yemen

Unmatched countries in dev_df:
- Africa Eastern and Southern
- Africa Western and Central
- American Samoa
- Andorra
- Antigua and Barbuda
- Arab World
- Aruba
- Bahamas, The
- Barbados
- Bermuda
- British Virgin Islands
- Brunei Darussalam
- Cabo Verde
- Caribbean small states
- Cayman Islands
- Central Europe and the Baltics
- Channel Islands
- Congo, Dem. Rep.
- Congo, Rep.
- Cote d'Ivoire
- Curacao
- Czech Republic
- Dominica
- Early-demographic dividend
- East Asia & Pacific
- East Asia & Pacific (IDA & IBRD countries)
- East Asia & Pacific (IDA & IBRD)
- East Asia & Pacific (excluding high income)
- Egypt, Arab Rep.
- Equatorial Guinea
- Eritrea
- Euro area
- Europe & Central Asia
- Europe & Central Asia (IDA & IBRD countries)
- Europe & Central Asia (IDA & IBRD)
- Europe & Central Asia (excluding high income)
- European Union
- Faroe Islands
- Fiji
- Fragile and conflict affected situations
- French Polynesia
- Gambia, The
- Gibraltar
- Greenland
- Grenada
- Guam
- Guinea-Bissau
- Heavily indebted poor countries (HIPC)
- High income
- Hong Kong SAR, China
- IBRD only
- IDA & IBRD total
- IDA blend
- IDA only
- IDA total
- Iran, Islamic Rep.
- Isle of Man
- Kiribati
- Korea, Dem. People's Rep.
- Korea, Rep.
- Kyrgyz Republic
- Lao PDR
- Late-demographic dividend
- Latin America & Caribbean
- Latin America & Caribbean (IDA & IBRD)
- Latin America & Caribbean (excluding high income)
- Latin America & the Caribbean (IDA & IBRD countries)
- Least developed countries: UN classification
- Liechtenstein
- Low & middle income
- Low income
- Lower middle income
- Macao SAR, China
- Marshall Islands
- Micronesia, Fed. Sts.
- Middle East & North Africa
- Middle East & North Africa (IDA & IBRD countries)
- Middle East & North Africa (IDA & IBRD)
- Middle East & North Africa (excluding high income)
- Middle income
- Monaco
- Nauru
- New Caledonia
- North America
- Northern Mariana Islands
- Not classified
- OECD members
- Other small states
- Pacific island small states
- Palau
- Papua New Guinea
- Post-demographic dividend
- Pre-demographic dividend
- Puerto Rico
- Russian Federation
- Samoa
- San Marino
- Sao Tome and Principe
- Seychelles
- Sint Maarten (Dutch part)
- Slovak Republic
- Small states
- Solomon Islands
- South Asia
- South Asia (IDA & IBRD)
- St. Kitts and Nevis
- St. Lucia
- St. Martin (French part)
- St. Vincent and the Grenadines
- Sub-Saharan Africa
- Sub-Saharan Africa (IDA & IBRD countries)
- Sub-Saharan Africa (IDA & IBRD)
- Sub-Saharan Africa (excluding high income)
- Syrian Arab Republic
- Timor-Leste
- Tonga
- Turkey
- Turks and Caicos Islands
- Tuvalu
- Upper middle income
- Vanuatu
- Venezuela, RB
- Viet Nam
- Virgin Islands (U.S.)
- West Bank and Gaza
- World
- Yemen, Rep.

In [21]:
from thefuzz import process

# Get unique country lists from both datasets
happiness_countries = set(happiness_df['Country'].unique())
dev_countries = set(dev_df_trimmed['Country'].unique())

# We only want to compare countries not already matched exactly
unmatched_happiness = happiness_countries - dev_countries
unmatched_dev = dev_countries - happiness_countries

print(f"Unmatched countries in happiness_df: {len(unmatched_happiness)}")
print(f"Unmatched countries in dev_df: {len(unmatched_dev)}")

# Convert to sorted lists for consistent output
unmatched_happiness = sorted(unmatched_happiness)
unmatched_dev = sorted(unmatched_dev)

# Function to find best fuzzy matches above a threshold
def find_close_matches(unmatched_list, reference_list, threshold=80):
    close_matches = []
    for country in unmatched_list:
        match, score = process.extractOne(country, reference_list)
        if score >= threshold:
            close_matches.append((country, match, score))
    return close_matches

# Find close matches of happiness countries in dev countries
matches_from_happiness = find_close_matches(unmatched_happiness, unmatched_dev)

# Find close matches of dev countries in happiness countries (optional, for completeness)
matches_from_dev = find_close_matches(unmatched_dev, unmatched_happiness)

print("\nClose matches where happiness country ≈ dev country:")
for c1, c2, score in matches_from_happiness:
    print(f"{c1}  <->  {c2}   (Similarity: {score})")

print("\nClose matches where dev country ≈ happiness country:")
for c1, c2, score in matches_from_dev:
    print(f"{c1}  <->  {c2}   (Similarity: {score})")

Unmatched countries in happiness_df: 18
Unmatched countries in dev_df: 127

Close matches where happiness country ≈ dev country:
Congo (Brazzaville)  <->  Congo, Rep.   (Similarity: 86)
Congo (Kinshasa)  <->  Congo, Rep.   (Similarity: 86)
Egypt  <->  Egypt, Arab Rep.   (Similarity: 90)
Gambia  <->  Gambia, The   (Similarity: 90)
Hong Kong S.A.R. of China  <->  Hong Kong SAR, China   (Similarity: 89)
Iran  <->  Iran, Islamic Rep.   (Similarity: 90)
Russia  <->  Russian Federation   (Similarity: 90)
South Korea  <->  Korea, Dem. People's Rep.   (Similarity: 86)
State of Palestine  <->  Isle of Man   (Similarity: 86)
Syria  <->  Syrian Arab Republic   (Similarity: 90)
Taiwan Province of China  <->  Isle of Man   (Similarity: 86)
Venezuela  <->  Venezuela, RB   (Similarity: 95)
Yemen  <->  Yemen, Rep.   (Similarity: 90)

Close matches where dev country ≈ happiness country:
Congo, Rep.  <->  Congo (Brazzaville)   (Similarity: 86)
Egypt, Arab Rep.  <->  Egypt   (Similarity: 90)
Gambia, The  <->  Gambia   (Similarity: 90)
Hong Kong SAR, China  <->  Hong Kong S.A.R. of China   (Similarity: 89)
Iran, Islamic Rep.  <->  Iran   (Similarity: 90)
Isle of Man  <->  Hong Kong S.A.R. of China   (Similarity: 86)
Korea, Dem. People's Rep.  <->  South Korea   (Similarity: 86)
Macao SAR, China  <->  Hong Kong S.A.R. of China   (Similarity: 86)
Russian Federation  <->  Russia   (Similarity: 90)
South Asia (IDA & IBRD)  <->  South Korea   (Similarity: 86)
Syrian Arab Republic  <->  Syria   (Similarity: 90)
Venezuela, RB  <->  Venezuela   (Similarity: 95)
Yemen, Rep.  <->  Yemen   (Similarity: 90)

In [22]:
# Mapping from happiness_df country names to dev_df country names
country_name_corrections = {
    "Congo (Brazzaville)": "Congo, Rep.",
    "Congo (Kinshasa)": "Congo, Rep.",  # both map to the same dev_df name
    "Egypt": "Egypt, Arab Rep.",
    "Gambia": "Gambia, The",
    "Hong Kong S.A.R. of China": "Hong Kong SAR, China",
    "Iran": "Iran, Islamic Rep.",
    "Russia": "Russian Federation",
    "South Korea": "Korea, Rep.",  # 'South Korea' corresponds to 'Korea, Rep.'
    "State of Palestine": "Palestine, State of",  # If this is the actual dev_df name; you can check or keep original
    "Syria": "Syrian Arab Republic",
    "Taiwan Province of China": "Taiwan",  # You might want to verify dev_df name for Taiwan
    "Venezuela": "Venezuela, RB",
    "Yemen": "Yemen, Rep."
}

# Apply the mapping to rename countries in happiness_df
happiness_df['Country'] = happiness_df['Country'].replace(country_name_corrections)

# Check the unique country names after correction
print("Unique countries in happiness_df after correction:")
print(happiness_df['Country'].unique())

Unique countries in happiness_df after correction:
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Rep.' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czechia' 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador'
 'Egypt, Arab Rep.' 'El Salvador' 'Estonia' 'Eswatini' 'Ethiopia'
 'Finland' 'France' 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana'
 'Greece' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong SAR, China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives'
 'Mali' 'Malta' 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Panama' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Somalia' 'Somaliland region' 'South Africa'
 'Korea, Rep.' 'South Sudan' 'Spain' 'Sri Lanka' 'Palestine, State of'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia'
 'Turkiye' 'Turkmenistan' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela, RB'
 'Vietnam' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']

In [16]:
# Check the data type of the 'Year' column
print(dev_df['Year'].dtype)

# Check if 'Year' column is numeric using pandas' api
is_numeric = pd.api.types.is_numeric_dtype(dev_df['Year'])
print(f"Is 'Year' numeric? {is_numeric}")

# Additionally, check if all non-null values are integers (no decimals)
# This only makes sense if dtype is numeric
if is_numeric:
    all_integers = dev_df['Year'].dropna().apply(float.is_integer).all()
    print(f"Are all numeric 'Year' values integers? {all_integers}")
else:
    print("'Year' column is not numeric, cannot check integer values.")

object
Is 'Year' numeric? False
'Year' column is not numeric, cannot check integer values.

In [16]:
# Convert 'Year' from string date to datetime
dev_df['Year'] = pd.to_datetime(dev_df['Year'], errors='coerce')

# Extract the year as integer
dev_df['Year'] = dev_df['Year'].dt.year

# Check again
print(dev_df['Year'].dtype)  # should be int64 or float64 if NaNs present

int32

In [18]:
# Get the shared columns between the two DataFrames
common_columns = set(dev_df.columns) & set(happiness_df.columns)

print("Common columns:")
print(common_columns)

Common columns:
{'country', 'Year'}

In [19]:
# Print all column names that look like 'country'
print("dev_df possible country columns:")
print([col for col in dev_df.columns if 'country' in col.lower()])

print("\nhappiness_df possible country columns:")
print([col for col in happiness_df.columns if 'country' in col.lower()])

dev_df possible country columns:
['country']

happiness_df possible country columns:
['country']

In [21]:
print(dev_df.columns)
print(happiness_df.columns)

Index(['Country', 'Year', 'agricultural_land%', 'forest_land%', 'land_area',
       'avg_precipitation', 'trade_in_services%',
       'control_of_corruption_estimate', 'control_of_corruption_std',
       'access_to_electricity%', 'renewvable_energy_consumption%',
       'electric_power_consumption', 'CO2_emisions',
       'other_greenhouse_emisions', 'population_density', 'inflation_annual%',
       'real_interest_rate', 'risk_premium_on_lending',
       'research_and_development_expenditure%', 'central_goverment_debt%',
       'tax_revenue%', 'expense%', 'goverment_effectiveness_estimate',
       'goverment_effectiveness_std', 'human_capital_index', 'doing_business',
       'time_to_get_operation_license', 'statistical_performance_indicators',
       'individuals_using_internet%', 'logistic_performance_index',
       'military_expenditure%', 'GDP_current_US',
       'political_stability_estimate', 'political_stability_std',
       'rule_of_law_estimate', 'rule_of_law_std',
       'regulatory_quality_estimate', 'regulatory_quality_std',
       'government_expenditure_on_education%',
       'government_health_expenditure%',
       'multidimensional_poverty_headcount_ratio%', 'gini_index', 'birth_rate',
       'death_rate', 'life_expectancy_at_birth', 'population',
       'rural_population', 'voice_and_accountability_estimate',
       'voice_and_accountability_std', 'intentional_homicides'],
      dtype='object')
Index(['country', 'Regional Indicator', 'Year', 'Life Ladder',
       'Log GDP Per Capita', 'Social Support',
       'Healthy Life Expectancy At Birth', 'Freedom To Make Life Choices',
       'Generosity', 'Perceptions Of Corruption', 'Positive Affect',
       'Negative Affect', 'Confidence In National Government'],
      dtype='object')

In [24]:
# Convert 'Year' column to numeric (integer), forcing errors to NaN
dev_df_cleaned['Year'] = pd.to_numeric(dev_df_cleaned['Year'], errors='coerce')

# Filter for years between 2005 and 2022, excluding NaNs
dev_df_cleaned = dev_df_cleaned[
    (dev_df_cleaned['Year'] >= 2005) & (dev_df_cleaned['Year'] <= 2022)
]

NameError: name 'dev_df_cleaned' is not defined

In [36]:
print(dev_df_cleaned[~dev_df_cleaned['year'].apply(lambda x: isinstance(x, (int, float)))])

           country        year  agricultural_landpercent  forest_landpercent  \
0      Afghanistan  1960-01-01                       NaN                 NaN
1      Afghanistan  1961-01-01                 57.878356                 NaN
2      Afghanistan  1962-01-01                 57.955016                 NaN
3      Afghanistan  1963-01-01                 58.031676                 NaN
4      Afghanistan  1964-01-01                 58.116002                 NaN
...            ...         ...                       ...                 ...
17267     Zimbabwe  2019-01-01                 41.876696           45.213002
17268     Zimbabwe  2020-01-01                 41.876696           45.093912
17269     Zimbabwe  2021-01-01                 41.876696           44.974822
17270     Zimbabwe  2022-01-01                       NaN                 NaN
17271     Zimbabwe  2023-01-01                       NaN                 NaN

       land_area  avg_precipitation  trade_in_servicespercent  \
0            NaN                NaN                       NaN
1       652230.0              327.0                       NaN
2       652230.0              327.0                       NaN
3       652230.0              327.0                       NaN
4       652230.0              327.0                       NaN
...          ...                ...                       ...
17267   386850.0              657.0                  6.927164
17268   386850.0              657.0                  5.118949
17269   386850.0                NaN                       NaN
17270        NaN                NaN                       NaN
17271        NaN                NaN                       NaN

       control_of_corruption_estimate  control_of_corruption_std  \
0                                 NaN                        NaN
1                                 NaN                        NaN
2                                 NaN                        NaN
3                                 NaN                        NaN
4                                 NaN                        NaN
...                               ...                        ...
17267                       -1.271190                   0.133336
17268                       -1.287992                   0.140076
17269                       -1.253550                   0.151591
17270                       -1.255139                   0.151262
17271                             NaN                        NaN

       access_to_electricitypercent  ...  \
0                               NaN  ...
1                               NaN  ...
2                               NaN  ...
3                               NaN  ...
4                               NaN  ...
...                             ...  ...
17267                     46.682095  ...
17268                     52.747667  ...
17269                     48.979927  ...
17270                           NaN  ...
17271                           NaN  ...

       multidimensional_poverty_headcount_ratiopercent  gini_index  \
0                                                  NaN         NaN
1                                                  NaN         NaN
2                                                  NaN         NaN
3                                                  NaN         NaN
4                                                  NaN         NaN
...                                                ...         ...
17267                                              NaN        50.3
17268                                              NaN         NaN
17269                                              NaN         NaN
17270                                              NaN         NaN
17271                                              NaN         NaN

       birth_rate  death_rate  life_expectancy_at_birth  population  \
0          50.340      31.921                    32.535   8622466.0
1          50.443      31.349                    33.068   8790140.0
2          50.570      30.845                    33.547   8969047.0
3          50.703      30.359                    34.016   9157465.0
4          50.831      29.867                    34.494   9355514.0
...           ...         ...                       ...         ...
17267      31.518       8.043                    61.292  15354608.0
17268      31.009       8.132                    61.124  15669666.0
17269      30.537       9.057                    59.253  15993524.0
17270         NaN         NaN                       NaN  16320537.0
17271         NaN         NaN                       NaN         NaN

       rural_population  voice_and_accountability_estimate  \
0             7898093.0                                NaN
1             8026804.0                                NaN
2             8163985.0                                NaN
3             8308019.0                                NaN
4             8458694.0                                NaN
...                 ...                                ...
17267        10408889.0                          -1.163669
17268        10617452.0                          -1.113408
17269        10827136.0                          -1.135830
17270        11033499.0                          -1.102206
17271               NaN                                NaN

       voice_and_accountability_std  intentional_homicides
0                               NaN                    NaN
1                               NaN                    NaN
2                               NaN                    NaN
3                               NaN                    NaN
4                               NaN                    NaN
...                             ...                    ...
17267                      0.117815               5.145035
17268                      0.120230               4.977770
17269                      0.120300               6.139985
17270                      0.119338                    NaN
17271                           NaN                    NaN

[17272 rows x 50 columns]

In [30]:
# === Clean Development Indicators Dataset (dev_df) === #

dev_df_cleaned = dev_df.copy()

# Columns to keep unchanged
cols_to_keep = ['Year', 'Country']
other_cols = [col for col in dev_df_cleaned.columns if col not in cols_to_keep]

# Clean other columns only
cleaned_other_cols = (
    pd.Series(other_cols)
    .str.strip()
    .str.lower()
    .str.replace('%', 'percent', regex=True)
    .str.replace(' ', '_')
    .tolist()
)

# Construct new column list preserving Year and Country
new_columns = []
for col in dev_df_cleaned.columns:
    if col in cols_to_keep:
        new_columns.append(col)
    else:
        new_columns.append(cleaned_other_cols.pop(0))

dev_df_cleaned.columns = new_columns

# Filter to years 2005–2022
dev_df_cleaned = dev_df_cleaned[
    (dev_df_cleaned['Year'] >= 2005) & (dev_df_cleaned['Year'] <= 2022)
]

# Clean country values: strip whitespace, preserve original case
dev_df_cleaned['Country'] = dev_df_cleaned['Country'].str.strip()

# Drop rows with missing 'Country' or 'Year'
dev_df_cleaned = dev_df_cleaned.dropna(subset=['Country', 'Year'])

# Save cleaned dataset
dev_df_cleaned.to_csv('./data/clean_dev.csv', index=False)

# Preview
print("Cleaned dev_df (Year and Country columns uppercase, country values original case):")
display(dev_df_cleaned.head())

Cleaned dev_df (Year and Country columns uppercase, country values original case):

,Country,Year,agricultural_landpercent,forest_landpercent,land_area,avg_precipitation,trade_in_servicespercent,control_of_corruption_estimate,control_of_corruption_std,access_to_electricitypercent,...,multidimensional_poverty_headcount_ratiopercent,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
45,Afghanistan,2005,58.134400,1.852782,652230.0,327.0,NaN,-1.447252,0.207366,28.669672,...,NaN,NaN,45.263,9.941,58.361,24411191.0,18869118.0,-1.125430,0.173295,NaN
46,Afghanistan,2006,58.123668,1.852782,652230.0,327.0,NaN,-1.446292,0.207394,33.544418,...,NaN,NaN,44.721,9.679,58.684,25442944.0,19614729.0,-1.110294,0.150166,NaN
47,Afghanistan,2007,58.129801,1.852782,652230.0,327.0,NaN,-1.613251,0.232797,38.440002,...,NaN,NaN,43.858,9.359,59.111,25903301.0,19916271.0,-1.057654,0.145505,NaN
48,Afghanistan,2008,58.132867,1.852782,652230.0,327.0,20.211726,-1.672096,0.224345,42.400000,...,NaN,NaN,41.506,8.832,59.852,26427199.0,20264376.0,-1.168902,0.143899,NaN
49,Afghanistan,2009,58.132867,1.852782,652230.0,327.0,20.562137,-1.552299,0.203015,48.279007,...,NaN,NaN,41.157,8.535,60.364,27385307.0,20942092.0,-1.375495,0.147715,4.071526

In [29]:
print("Original columns in dev_df:")
print(dev_df.columns.tolist())

Original columns in dev_df:
['Country', 'Year', 'agricultural_land%', 'forest_land%', 'land_area', 'avg_precipitation', 'trade_in_services%', 'control_of_corruption_estimate', 'control_of_corruption_std', 'access_to_electricity%', 'renewvable_energy_consumption%', 'electric_power_consumption', 'CO2_emisions', 'other_greenhouse_emisions', 'population_density', 'inflation_annual%', 'real_interest_rate', 'risk_premium_on_lending', 'research_and_development_expenditure%', 'central_goverment_debt%', 'tax_revenue%', 'expense%', 'goverment_effectiveness_estimate', 'goverment_effectiveness_std', 'human_capital_index', 'doing_business', 'time_to_get_operation_license', 'statistical_performance_indicators', 'individuals_using_internet%', 'logistic_performance_index', 'military_expenditure%', 'GDP_current_US', 'political_stability_estimate', 'political_stability_std', 'rule_of_law_estimate', 'rule_of_law_std', 'regulatory_quality_estimate', 'regulatory_quality_std', 'government_expenditure_on_education%', 'government_health_expenditure%', 'multidimensional_poverty_headcount_ratio%', 'gini_index', 'birth_rate', 'death_rate', 'life_expectancy_at_birth', 'population', 'rural_population', 'voice_and_accountability_estimate', 'voice_and_accountability_std', 'intentional_homicides']

In [ ]:
# === CONVERT 'Year' COLUMN TO NUMERIC ===
dev_df['Year'] = pd.to_numeric(dev_df['Year'], errors='coerce')